<div class="card">
  <p-menubar>
    <ng-template #start>
      <a routerLink="/home">
        <img
          src="https://cdn.dribbble.com/userupload/17039932/file/original-983633d1f6de58f5d871f174ff34f057.jpg?resize=400x0"
          alt="Brand Logo"
          class="h-8 w-auto cursor-pointer"
        />
      </a>
    </ng-template>
    <ng-template #end>
      <div class="flex items-center gap-2">
        @for (item of items; track $index) {
        <a [routerLink]="item?.['path']" class="mr-1">
          <p-button [icon]="item?.icon" text severity="secondary" />
        </a>
        }
      </div>
    </ng-template>
  </p-menubar>
</div>
