.hero-carousel .carousel-item {
  width: 100%;
  max-height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.hero-carousel .carousel-image {
  width: 100%;
  height: 70vh;
  object-fit: fill;
  display: block;
}
.filter_category span {
  cursor: pointer;
  text-transform: capitalize;
  position: relative;
}
.filter_category span::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 30%;
  height: 2px;
  background-color: #000;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
}
.filter_category span:hover::after {
  width: 100%;
}

.seperator {
  width: 100%;
  height: 4px;
  background: #000;
  margin: 1rem 0;
}

/* Use :host ::ng-deep to penetate PrimeNG's component encapsulation */
:host ::ng-deep {
  .hero-carousel .p-carousel-indicator-list {
    display: none !important;
  }

  .hero-carousel .p-carousel-prev-button,
  .hero-carousel .p-carousel-next-button {
    display: none !important;
  }

  /* Remove padding from content if necessary to maximize image space */
  .hero-carousel .p-carousel-content {
    padding: 0;
  }
  .hero-carousel .p-carousel-item {
    width: 80%;
  }
}
