<div class="card">
  <p-menubar [model]="items">
    <ng-template #start>
      <a routerLink="home">
        <img
          src="https://cdn.dribbble.com/userupload/17039932/file/original-983633d1f6de58f5d871f174ff34f057.jpg?resize=400x0"
          alt="Brand Logo"
          class="h-8 w-auto cursor-pointer"
        />
      </a>
    </ng-template>
    <ng-template #item let-item let-root="root">
      <a
        [routerLink]="item.routerLink"
        pRipple
        class="flex items-center px-4 py-3 cursor-pointer gap-2"
        [attr.target]="item.target"
      >
        @if (item.icon) {
        <i [class]="item.icon" class="text-primary"></i>
        }
        <span>{{ item.label }}</span>
        @if (item.badge) { @defer (on idle) {
        <p-badge [ngClass]="{ 'ms-auto': !root }" [value]="item.badge" />
        } } @if (item.shortcut) {
        <span
          class="ms-auto border border-surface rounded bg-emphasis text-muted-color text-xs p-1"
        >
          <i [class]="item.shortcut" style="font-size: 1rem"></i>
        </span>
        } @if (item.items) {
        <i [ngClass]="['ms-auto pi', root ? 'pi-angle-down' : 'pi-angle-right']"></i>
        }
      </a>
    </ng-template>
    <ng-template #end>
      <div class="flex items-center gap-2">
        <a routerLink="cart" class="relative">
          @defer (on idle) {
          <i
            class="pi pi-shopping-cart text-2xl mr-2"
            pBadge
            [value]="CartLength.toString()"
            severity="danger"
          ></i>
          } @placeholder {
          <i class="pi pi-shopping-cart text-2xl mr-2"></i>
          }
        </a>
        @defer (on immediate) {
        <p-avatar
          (click)="op.toggle($event)"
          image="https://primefaces.org/cdn/primeng/images/demo/avatar/amyelsner.png"
          shape="circle"
          class="cursor-pointer"
        />
        <p-popover #op>
          <div class="flex flex-col gap-4 w-[10rem]">
            <div class="flex items-center gap-2 justify-center">
              <span class="font-medium text-surface-900 dark:text-surface-0">{{ user }}</span>
            </div>
            @if (logged()) {
            <div class="flex items-center gap-2 justify-center" (click)="logout()">
              <p-button
                severity="warn"
                variant="outlined"
                label="Log Out"
                icon="pi pi-sign-out"
                [rounded]="true"
              />
            </div>
            } @else {
            <a class="flex items-center gap-2 justify-center" routerLink="auth/login">
              <p-button
                severity="warn"
                variant="outlined"
                label="Log in"
                icon="pi pi-sign-in"
                [rounded]="true"
              />
            </a>
            }
          </div>
        </p-popover>
        }
      </div>
    </ng-template>
  </p-menubar>
  <!-- <div
    class="flex justify-center flex-wrap gap-6 p-3 bg-surface-0 dark:bg-surface-900 border-t border-surface-200 dark:border-surface-700"
  >
    @for (category of categories; track category._id) {
    <a
      [routerLink]="['/category', category.slug]"
      class="text-sm font-medium hover:text-primary transition-colors cursor-pointer no-underline text-inherit"
    >
      {{ category.name }}
    </a>
    }
  </div> -->
</div>
